@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.75px, transparent 0.75px), radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
    background-size: 30px 30px;
}
.imagen-central {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
}
.imagen {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
.parrafo1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #73C6B6;
    border-radius: 12px;
    background-color: #fff;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 20px;
}
.logo{
    position: absolute;
    width: 125px;
    height: 125px;
    cursor: pointer;
    left: 10px;
    top: 0;
    display: flex;
    border: 0;
}
.menu {
    background-color: #182c86;
    color: #fff;
    height: 70px;
    display: flex;

}
.menu__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    
}
.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}
.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu__link:hover{
    background-color: #798499;
}
.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.menu__nesting{
    clip-path: var(--clip);
    list-style: none;
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(235, 165, 36);
}
.menu__link--inside{
    padding: 30px 100px 30px 20px;
}
.menu__link--inside:hover{
    background-color: #798499;
}
.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
    border: 0;
}
.menu__user{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    float: right;
}
.menu__compra{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    float: right;
    
}
.menu__img{
    display: block;
    width: 40px;
    margin: auto;
}
@media (max-width: 800px){
    .menu__hamburguer{
        display: flex;
    }
    .menu__compra{
        display: flex;
    }
    .menu__user{
        display: flex;
    }
    .menu__item{
        --clip: 0;
        overflow: hidden;
    }
    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }
    .mune__item--show{
        background-color: var(--background);

    }
    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 100px;
        bottom: 0;
        right: 0;
        background-color: rgb(235, 165, 36);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu__links--show{
        transform: unset;
        width: 100%;
    }
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height 0.3s;
    }
    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}